.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

textarea{
  resize:none;
  outline:none;
  margin:.5em 0;
  padding:1em;
  font-family:inherit;
  border-color:gray;
  border-radius: 5px;
  
}

.scrollabe__container{
  height:30vh;
  overflow-y:scroll;
}

.aside{
 display:flex;
  gap:2em;
  margin:1em 0;
}
.total__waves,.address{
  padding:.4em;
  font-size:1em;
}
.total__waves{
  font-size:1.3em
}
.address{
  border:1px solid gray;
/*   width:100px; */
/*   overflow:hidden; */
  border-radius: 5px;
  
}
